<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <!-- nav bar -->
    <%- include('partials/navbar', {page:"/solutions/projects"}) %>

    <!-- hero -->
    <div class="container mx-auto">
      <div class="hero bg-base-200 min-h-80">
        <div class="hero-content text-center">
          <div class="max-w-md py-8">
            <h1 class="mb-8 text-5xl font-bold">Projects</h1>
            <a class="btn btn-primary" href="/solutions/projects?sector=industry">Industry</a>
            <a class="btn btn-primary" href="/">Transportation</a>
            <a class="btn btn-primary" href="/">Electricity</a>
          </div>
        </div>
      </div>
    </div>

    <!-- tables -->
    <div class="overflow-x-auto">
      <table class="table">
        <!-- head -->
        <thead>
          <tr>
            <th>Title</th>
            <th>Sector</th>
            <th>Summary</th>
          </tr>
        </thead>
        <tbody>
          <% projects.forEach(project=>{ %>
          <tr>
            <td><%= project.title %></td>
            <td><%= project.sector %></td>
            <td><%= project.summary_short %></td>
            <td>
              <a class="btn" href="/solutions/projects/<%= project.id %>"
                >Details</a
              >
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
